In [2]:
import pandas as pd
import numpy as np
# print("h")

In [10]:
df=pd.DataFrame()
# s="https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=100"
df["add"]=np.nan
df

Empty DataFrame
Columns: [add]
Index: []

In [11]:
s

'https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=100'

In [1]:
import requests
import pandas as pd

# API endpoint
url = "https://api.themoviedb.org/3/movie/top_rated"
params = {
    "api_key": "8265bd1679663a7ea12ac168da84d2e8",
    "language": "en-US",
    "page": 100  # Specify the page number
}

# Fetch data from the API
response = requests.get(url, params=params)

# Check if the request was successful
if response.status_code == 200:
    data = response.json()  # Parse JSON response
    movies = data.get("results", [])  # Extract the "results" list
    
    # Convert to a DataFrame
    df = pd.DataFrame(movies)
    print(df.head())  # Display the first few rows of the DataFrame
else:
    print(f"Failed to fetch data. Status code: {response.status_code}")

   adult                     backdrop_path        genre_ids      id  \
0  False  /2T4bqHgYfzXNQoALJsvhW40kDTg.jpg  [10749, 18, 36]  167073
1  False  /9Kfi1QDVGbMzzi06n8c6A789odL.jpg     [18, 14, 37]     922
2  False  /ebPtSNrQ92Cgwje29WjvXKQbl9m.jpg      [18, 10749]   79120
3  False  /n8zvKDOUy4JwIzQArjoVBhVaPDp.jpg     [27, 18, 53]    9539
4  False  /cGnaZm6EQOJESde3Vv4v53Zk4gN.jpg         [18, 35]  626735

  original_language original_title  \
0                en       Brooklyn
1                en       Dead Man
2                en        Weekend
3                fr        Martyrs
4                en            Dog

                                            overview  popularity  \
0  In 1950s Ireland and New York, young Eilis Lac...      20.221
1  William Blake, an accountant turned fugitive, ...      11.490
2  After a drunken house party with his straight ...      11.068
3  A young womanâ€™s quest for revenge against the ...      27.081
4  An army ranger and his dog embark on a road tr...      26.840

                        poster_path release_date     title  video  \
0  /cs7W8j5lI7qzRW6tKSj9p1Q0Ze7.jpg   2015-10-20  Brooklyn  False
1  /jX3wGBVoYoAY3IixBpwYk1fjT4z.jpg   1995-12-23  Dead Man  False
2  /9IXvuqpJeOjYRyMt42G1NrK0QzU.jpg   2011-10-23   Weekend  False
3  /5yfPA9lXqONtLMgZks87ECob1A5.jpg   2008-06-12   Martyrs  False
4  /zHQy4h36WwuCetKS7C3wcT1hkgA.jpg   2022-02-17       Dog  False

   vote_average  vote_count
0         7.314        3068
1         7.314        1543
2         7.313         522
3         7.300        2678
4         7.300        1535

In [16]:
# df.to_csv("top_rated_movies_page_100.csv", index=False)
# df

In [48]:
import requests
# //https://api.themoviedb.org/3/movie/top_rated?
# api_key=8265bd1679663a7ea12ac168da84d2e8&
# language=en-US&
# page=100
url="https://api.themoviedb.org/3/movie/top_rated"
parameter={
    "api_key":"8265bd1679663a7ea12ac168da84d2e8",
    "language":"en-US",
    "page":"1"
}

#now fetch the data
response=requests.get(url,params=parameter)

if (response.status_code==200):
    # convert to the json format
    data_json=response.json()
#     print(data_json.keys())
    #i need results
    store_movies=data_json["results"]
#     print(store_movies)
    store_movies=(store_movies[0])
    df=pd.DataFrame(store_movies)
#     df.to_csv("ok.csv",index=False)
#     print(type(store_movies))
#     df=store_movies.to_csv("wow.csv",index=False)
    
#     print(data_json)
    print("successful")

successful

In [60]:
parameter["page"]=2
parameter["page"]

2

In [72]:
import requests

def concat_all_data():
    url="https://api.themoviedb.org/3/movie/top_rated"
    parameter={
         "api_key":"8265bd1679663a7ea12ac168da84d2e8",
    "language":"en-US",
    "page":"1"}
    req1=requests.get(url,params=parameter)
    json_1=req1.json()
    mov=json_1["results"]
    part_1=mov[0]
    df=pd.DataFrame(part_1)
    print(df)
#     for i in range(2,10):
#         parameter["page"]=i;
#         req2=requests.get(url,params=parameter)
#         json_2=req2.json()
#         mov=json_2["results"]
#         part_2=mov[0]
#         df2=pd.DataFrame(part_2)
#         df=pd.concat([df,df2],ignore_index=True)
        
#     pd.to_csv("all_data.csv",index=False)
#     df

In [73]:
import requests
import pandas as pd

def concat_all_data():
    url = "https://api.themoviedb.org/3/movie/top_rated"
    parameter = {
        "api_key": "8265bd1679663a7ea12ac168da84d2e8",
        "language": "en-US",
        "page": 1
    }
    
    # Initialize an empty DataFrame
    df = pd.DataFrame()

    # Loop through pages
    for i in range(1, 10):  # Adjust the range as needed
        parameter["page"] = i
        req = requests.get(url, params=parameter)
        
        if req.status_code == 200:
            json_data = req.json()
            mov = json_data.get("results", [])  # Get the "results" key
            
            # Convert the results to DataFrame and concatenate
            if mov:  # Check if there are any movies on this page
                df_part = pd.DataFrame(mov)  # Convert the entire list to a DataFrame
                df = pd.concat([df, df_part], ignore_index=True)
        else:
            print(f"Failed to fetch page {i}, status code: {req.status_code}")
            break  # Stop on failure to avoid unnecessary requests

    # Save to CSV
    df.to_csv("all_data.csv", index=False)
    
    return df  # Return the DataFrame

# Call the function
concat_all_data()
print(data.head())

   adult                     backdrop_path        genre_ids   id  \
0  False  /zfbjgQE1uSd9wiPTX4VzsLi0rGG.jpg         [18, 80]  278
1  False  /tmU7GeKVybMWFButWEGl2M4GeiP.jpg         [18, 80]  238
2  False  /kGzFbGhp99zva6oZODW5atUtnqi.jpg         [18, 80]  240
3  False  /zb6fM1CX41D9rF9hdgclu0peUmy.jpg  [18, 36, 10752]  424
4  False  /qqHQsStV6exghCM7zbObuYBiYxw.jpg             [18]  389

  original_language            original_title  \
0                en  The Shawshank Redemption
1                en             The Godfather
2                en     The Godfather Part II
3                en          Schindler's List
4                en              12 Angry Men

                                            overview  popularity  \
0  Imprisoned in the 1940s for the double murder ...     197.761
1  Spanning the years 1945 to 1955, a chronicle o...     179.444
2  In the continuing saga of the Corleone crime f...     101.221
3  The true story of how businessman Oskar Schind...      93.750
4  The defense and the prosecution have rested an...      65.374

                        poster_path release_date                     title  \
0  /9cqNxx0GxF0bflZmeSMuL5tnGzr.jpg   1994-09-23  The Shawshank Redemption
1  /3bhkrj58Vtu7enYsRolD1fZdja1.jpg   1972-03-14             The Godfather
2  /hek3koDUyRQk7FIhPXsa6mT2Zc3.jpg   1974-12-20     The Godfather Part II
3  /sF1U4EUQS8YHUYjNl3pMGNIQyr0.jpg   1993-12-15          Schindler's List
4  /ow3wq89wM8qd5X7hWKxiRfsFf9C.jpg   1957-04-10              12 Angry Men

   video  vote_average  vote_count
0  False         8.707       27098
1  False         8.700       20582
2  False         8.600       12415
3  False         8.565       15825
4  False         8.546        8628

In [49]:
# for i in range(0,470):
#     print(i)\
import pandas as pd
import numpy as np
import requests
#api_key=8265bd1679663a7ea12ac168da84d2e8&
# language=en-US&
# page=2
url="https://api.themoviedb.org/3/movie/top_rated"
p1={
    "api_key":"8265bd1679663a7ea12ac168da84d2e8",
    "language":"en-US",
    "page":1
}
p2={
    "api_key":"8265bd1679663a7ea12ac168da84d2e8",
    "language":"en-US",
    "page":2
}
# NOW SEND THE REQUESTS
req1=requests.get(url,p1)
p1["page"]=2
req2=requests.get(url,p1)
# CONVERT TO THE JSON FILES
json1=req1.json()
json2=req2.json()
# get the results key
get_res=json1["results"]
get_res2=json2["results"]

#get the first element to remove the list from it
# rem_list1=get_res[0]

#convert to the dataframe
df=pd.DataFrame(get_res)
df2=pd.DataFrame(get_res2)
p1

{'api_key': '8265bd1679663a7ea12ac168da84d2e8', 'language': 'en-US', 'page': 2}

In [55]:
# df["id"].to_string(index=False)
# df["id"].tolist()
# df2["id"].tolist()
df2
vertical_concat=pd.concat([df,df2])
vertical_concat.shape
# Assuming your DataFrame is named df
# df=df.reset_index(drop=True, inplace=True)
# df
# df.to_csv("filename.csv",index=False)

(40, 14)

In [66]:
# d=pd.read_csv("filename.csv")
# d



# for i in range(0,470):
#     print(i)\
import pandas as pd
import numpy as np
import requests
#api_key=8265bd1679663a7ea12ac168da84d2e8&
# language=en-US&
# page=2
url="https://api.themoviedb.org/3/movie/top_rated"
vertical_concat = pd.DataFrame()

for i in range(1,100):
    p1={
        "api_key":"8265bd1679663a7ea12ac168da84d2e8",
        "language":"en-US",
        "page":1
    }
    # NOW SEND THE REQUESTS
    p1["page"]=i
    req1=requests.get(url,p1)
    json1=req1.json()
#     print(json1)
#     json2=req2.json()
    # get the results key
    get_res=json1["results"]
    df=pd.DataFrame(get_res)
#     get_res2=json2["results"]
    vertical_concat=pd.concat([vertical_concat,df])


#get the first element to remove the list from it
# rem_list1=get_res[0]

#convert to the dataframe
# df=pd.DataFrame(get_res)
# df2=pd.DataFrame(get_res2)
vertical_concat.shape

(1980, 14)

In [67]:
# d=pd.read_csv("filename.csv")
# d



# for i in range(0,470):
#     print(i)\
import pandas as pd
import numpy as np
import requests
#api_key=8265bd1679663a7ea12ac168da84d2e8&
# language=en-US&
# page=2
url="https://api.themoviedb.org/3/movie/top_rated"
vertical_concat = pd.DataFrame()

for i in range(1,10):
    p1={
        "api_key":"8265bd1679663a7ea12ac168da84d2e8",
        "language":"en-US",
        "page":1
    }
    # NOW SEND THE REQUESTS
    p1["page"]=i
    req1=requests.get(url,p1)
    json1=req1.json()
#     print(json1)
#     json2=req2.json()
    # get the results key
    get_res=json1["results"]
    df=pd.DataFrame(get_res)
#     get_res2=json2["results"]
    vertical_concat=pd.concat([vertical_concat,df])


#get the first element to remove the list from it
# rem_list1=get_res[0]

#convert to the dataframe
# df=pd.DataFrame(get_res)
# df2=pd.DataFrame(get_res2)
vertical_concat.shape

(180, 14)

In [68]:
vertical_concat.head()

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/zfbjgQE1uSd9wiPTX4VzsLi0rGG.jpg,"[18, 80]",278,en,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,191.914,/9cqNxx0GxF0bflZmeSMuL5tnGzr.jpg,1994-09-23,The Shawshank Redemption,False,8.707,27105
1,False,/tmU7GeKVybMWFButWEGl2M4GeiP.jpg,"[18, 80]",238,en,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",173.917,/3bhkrj58Vtu7enYsRolD1fZdja1.jpg,1972-03-14,The Godfather,False,8.690,20586
2,False,/kGzFbGhp99zva6oZODW5atUtnqi.jpg,"[18, 80]",240,en,The Godfather Part II,In the continuing saga of the Corleone crime f...,83.433,/hek3koDUyRQk7FIhPXsa6mT2Zc3.jpg,1974-12-20,The Godfather Part II,False,8.574,12417
3,False,/zb6fM1CX41D9rF9hdgclu0peUmy.jpg,"[18, 36, 10752]",424,en,Schindler's List,The true story of how businessman Oskar Schind...,93.813,/sF1U4EUQS8YHUYjNl3pMGNIQyr0.jpg,1993-12-15,Schindler's List,False,8.565,15828
4,False,/qqHQsStV6exghCM7zbObuYBiYxw.jpg,[18],389,en,12 Angry Men,The defense and the prosecution have rested an...,79.807,/ow3wq89wM8qd5X7hWKxiRfsFf9C.jpg,1957-04-10,12 Angry Men,False,8.546,8630

In [ ]:
# d=pd.read_csv("filename.csv")
# d



# for i in range(0,470):
#     print(i)\
import pandas as pd
import numpy as np
import requests
#api_key=8265bd1679663a7ea12ac168da84d2e8&
# language=en-US&
# page=2
url="https://api.themoviedb.org/3/movie/top_rated"
vertical_concat = pd.DataFrame()

for i in range(1,487):
    p1={
        "api_key":"8265bd1679663a7ea12ac168da84d2e8",
        "language":"en-US",
        "page":1
    }
    # NOW SEND THE REQUESTS
    p1["page"]=i
    req1=requests.get(url,p1)
    json1=req1.json()
#     print(json1)
#     json2=req2.json()
    # get the results key
    get_res=json1["results"]
    df=pd.DataFrame(get_res)
#     get_res2=json2["results"]
    vertical_concat=pd.concat([vertical_concat,df])


#get the first element to remove the list from it
# rem_list1=get_res[0]

#convert to the dataframe
# df=pd.DataFrame(get_res)
# df2=pd.DataFrame(get_res2)
vertical_concat.shape

In [ ]:
vertical_concat.to_csv("all_movies.csv",index=False)